Q1. Load the "titanic" dataset using the load_dataset function of seaborn. Use Plotly express to plot a
scatter plot for age and fare columns in the titanic dataset.

In [12]:
import seaborn as sns
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default='iframe'
df = sns.load_dataset('titanic')

In [13]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [14]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = df['age'], y = df['fare'], mode = 'markers'))
fig.show()

Q2. Using the tips dataset in the Plotly library, plot a box plot using Plotly express.

In [29]:
df1 = sns.load_dataset('tips')

In [30]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
fig = px.box(df1, x = 'sex', y = 'tip')
fig.show()

Q3. Using the tips dataset in the Plotly library, Plot a histogram for x= "sex" and y="total_bill" column in the tips dataset. Also, use the "smoker" column with the pattern_shape parameter and the "day" column with the color parameter.

In [34]:
fig = px.histogram(df1, x = 'tip', y = 'total_bill', color="sex")
fig.show()

Q4. Using the iris dataset in the Plotly library, Plot a scatter matrix plot, using the "species" column for the color parameter.
Note: Use "sepal_length", "sepal_width", "petal_length", "petal_width" columns only with the dimensions parameter.

In [27]:
df3 = px.data.iris()
fig = px.scatter_matrix(df3,
    dimensions=["sepal_length", "sepal_width", "petal_length", "petal_width"],
    color="species")
fig.show()

Q5. What is Distplot? Using Plotly express, plot a distplot.

The distplot figure displays a combination of statistical representations of numerical data, such as histogram, kernel density estimation or normal curve, and rug plot.

In [32]:
fig = px.histogram(df1, x="total_bill", y="tip", color="sex",
                   marginal="box", # or violin, rug
                   hover_data=df1.columns)
fig.show()

In [33]:
fig4 = px.histogram(data_frame=df1, x= "total_bill", y= "tip", color= "sex", 
                    title="Distribution of Tips data Total_bills vs Tip distinguished by gender")
fig4.show()