Q1. How can you create a Bokeh plot using Python code?

In [4]:
import bokeh.io
import bokeh.plotting
from bokeh.io import output_notebook, show
from bokeh.plotting import figure, output_file, show

In [12]:
from bokeh.sampledata.iris import flowers
bokeh.io.output_notebook(INLINE)

NameError: name 'INLINE' is not defined

We need a dataset and dataset can be loaded using above import statement. Above statement imports iris flower dataset. Following code shows how to create a scatter plot using Bokeh.

In [8]:
flowers

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
output_file('output.html')
p = figure(title = 'Iris Data')
p.xaxis.axis_label = 'petal length'
p.yaxis.axis_label = 'petal width'
p.scatter(flowers['petal_length'], flowers['petal_width'])
show(p)